/* Is this needed or default? */
* {
    box-sizing: border-box;
}


/* Requirement: Responsive at 640 = sm, 768 = md, 980 = lg */

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("webb.png");
}

.top-row {
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.box1 {
    height: 100%;
    padding: 20px;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}

.nav-box {
    background-color: white;
    text-align: center;
}

.main-box {
    background-color: #ffffff;
    border: 1px solid lightgray;
    margin-top: 3%;
}

.box2 {
    max-width: 90%;
    border-bottom: 3px solid lightgray;
    margin: 0 5%;
    padding-top: 5%;
}

.box2 h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}


.pic {
    float: left;
    margin: 5%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    padding: 1%;
    background-color: #666666;
    color: lightgray;
    text-align: center;
    font-size: 10px;
}